jobscript*
pout.*
.bashrc
*.pbs
*.s
*.err
d
o
p
f
*_F.H
.DS_Store
log*
*.ex
.*.sw[n-p]
*.out
*.dat
!KerrdeSitter_rPlus.dat
*.hdf5
*.dSYM
LB.txt
Weyl_integral*
*ExtractionOut_*
time.table.*
*.patch
*.log
ipo_out.optrpt

*.code-workspace
GRBoondi.code-workspace
*.vscode

.wiki/

PostProcessing/movies/*
PostProcessing/plots/*
Tests/PostProcessing_test/2d_movies/*
Tests/PostProcessing_test/3d_movies/*
Tests/PostProcessing_test/2d_plots/*
Tests/PostProcessing_test/3d_plots/*
Tests/PostProcessing_test/integral_plots/*
Tests/PostProcessing_test/movies/*
Tests/PostProcessing_test/testdata/*




params/*

.PrivateNotes.md

*.pyc


Doxygen/html
