name: Clang Format

on: 
  push:
  pull_request:

jobs:
  format:
    name: Check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: DoozyX/clang-format-lint-action@v0.18
      with:
        source: '.'
        extensions: 'hpp,cpp'
        clangFormatVersion: 13
